{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/subjects.css' %}">
<link rel="stylesheet" href="{% static 'css/close-button.css' %}">
{% endblock %}

{% block content %}
    <div class="top-filter">
        <div class="filter">
            <label for="courses">Fanlar</label>
            <select name="courses" class="select" id="courses">
                <option value="all-courses" selected>Barcha kurslar</option>
                {% for s in subjects %}
                    <option value="{{ s.name }}">{{ s.name }}</option>
                {% endfor %}
                
            </select>
            <span>Kurslar</span>
            <select name="courses" class="select">
                <option value="all-courses" selected>Barcha kurslar</option>
                {% for c in courses %}
                    <option value="{{ c.name }}">{{ c.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="add-subject-button" id="open-modal">Fan qo'shish</button>
    </div>
    <div class="main">
        <div class="back d-none" id="add-subject-modal">
            <div class="model">
                <button class="close" id="close">+</button>
                <h2>Yangi fan qo'shish</h2>
                <form method="POST" id="create-people">{% csrf_token %}
                    <div class="row">
                        <div>Nomi</div>
                        <input type="text" name="name" placeholder="Kompyuter savodxonligi" autofocus min="256">
                    </div>

                    <button class="add" type="submit">Yangi qo'shish</button>
                </form>
            </div>
        </div>
        <div class="back d-none" id="update-subject-modal">
            <div class="model">
                <button class="close" id="close-update-modal">+</button>
                <h2>Fan ma'lumotlarini yangilash</h2>
                <form method="POST">{% csrf_token %}
                    <input type="hidden" value="PUT" name="type">
                    <input type="hidden" value="" name="id" id="id-input">
                    
                    <div class="row">
                        <div>Nomi</div>
                        <input type="text" name="name" placeholder="Kompyuter savodxonligi" autofocus min="256" id="update-subject-name">
                    </div>

                    <button class="add" type="submit">Yangilash</button>
                </form>
            </div>
        </div>
        <div class="back d-none" id="delete-modal">
            <div class="model">
                <button class="close" id="close-delete-model">+</button>
                <h2>Fanni o'chirish</h2>
                <div class="content">
                    Haqiqatdan ham <span id="fn-delete"></span>ni <br> o'chirmoqchisiz?
                </div>
                <div class="buttons">
                    <button class="bkq" id="back-button">Bekor qilish</button>
                    <a href="#" id="url"><button class="delete" id="people-delete-button">O'chirish</button></a>
                </div>
            </div>
        </div>

        <table id="subjects-table">
            <thead>
                <tr>
                    <th class="ids">ID</th>
                    <th class="fish">Nomi</th>
                    <th class="buttons"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <div class="scroll">
                    {% for p in subjects %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ p.name }}</td>
                        <td class="no-border" onclick="openEditSubjectModal({'id':`{{ p.id }}`, 'name':`{{ p.name }}`})">
                            <div class="edit">Tahrirlash</div>
                        </td>
                        <td class="no-border" onclick="openDeleteModal({'id':`{{ p.id }}`, 'name':`{{ p.name }}`})">
                            <div class="delete">O'chirish</div>
                        </td>
                    </tr>
                    {% endfor %}
                </div>
            </tbody>
        </table>
    </div>
{% endblock %}



{% block foot %}
<script src="{% static 'js/subjects.js' %}"></script>
{% endblock %}