* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

$base-color: #6CB4EE;

body {
    background-color: $base-color;

    width: 100vw;
    height: 100vh;
    overflow: hidden;

    #cont {
        width: 100%;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

        .row {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 60px;

            .col1 {

                .logo {
                    font-size: 25px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;

                    span {
                        color: red;
                        font-family: Arial, Helvetica, sans-serif !important;
                    }
                }
            }

            .col2 {

                .search {
                    border: 1px solid #cad0d6;
                    border-radius: 20px;

                    input {
                        border-radius: 20px 0 0 20px;
                        border: none;
                        outline: none;
                        width: 400px;
                        height: 35px;
                        padding-left: 10px;
                    }
                }

                button {
                    cursor: pointer;
                    border-radius: 50%;
                    border: none;
                    background-color: white;
                    color: black;
                    padding-right: 20px;
                }
            }

            .col3 {
                .profile {
                    .box {
                        width: 50px;
                        height: 50px;
                        background-color: blueviolet;
                        border: 1px solid red;
                        border-radius: 50%;
                        color: white;
                        text-align: center;
                        padding-top: 15px;

                        a {
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }


    #menu {
        display: flex;
        width: 90%;
        margin: 0 auto;
        gap: 10px;

        .left-side {
            width: 25%;
            border-radius: 3px;

            height: 100vh;
            margin-top: 10px;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

            
            a {
                color: black;
                text-decoration: none;

                .box {

                    cursor: pointer;
                    border-radius: 5px;
                    background-image: #ffffff;
                    display: flex;
                    align-items: center;
                    padding-left: 20px;
                    gap: 15px;
                    height: 50px;
                    border: 1px solid #cad0d6;
                    margin: 10px;
                    font-size: 20px;
                    transition: .5s linear all;

                    &:active {
                        color: white !important;
                        background-color: $base-color;
                        // background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
                        border: none !important;
                    }

                    &:hover {
                        border: 1px solid black;

                    }
                }

                .active {
                    color: white !important;
                    background-color: $base-color;
                    // background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
                    border: none !important;
                }
            }

        }

        .right-side {
            width: 75%;
            height: 100vh;
            margin-top: 10px;

        }
    }

}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


a {
    text-decoration: none !important;
}