$base-color: #6CB4EE;


.d-none {
    display: none !important;
}

.showAnim {
    animation-name: showAnimation;
    animation-duration: .3s;
}

@keyframes showAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.back {
    background-color: rgba(0, 0, 0, 0.615);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: 500;
    
    
    .model {
        z-index: 1000;
        left: 50%;
        top: 50%;
        padding: 80px 0;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 500px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

        h2 {
            text-align: center;
            padding-bottom: 50px;
        }

        .close {
            border-radius: 50%;
            transform: rotateZ(45deg);
            cursor: pointer;
            background: white;
            position: absolute;
            right: 10px;
            top: 7px;
            text-align: center;
            vertical-align: middle;
            width: 40px;
            height: 40px;
            color: black;
            border: none;
            font-size: 25px;
            transition: .3s linear all;

            &:hover {
                background-color: #cad0d6;
            }
        }

        form {
            gap: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;


            .row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 80%;

                div {
                    min-width: 120px;
                    display: inline-block;
                }

                input {
                    border: 1px solid #cad0d6;
                    outline: none;
                    font-size: 15px;
                    height: 20px;
                    padding: 20px;
                }
            }


            .add {
                margin-top: 20px;
                padding: 10px 15px;
                border-radius: 5px;
                border: none;
                background-color: $base-color;
                color: white;
                font-size: 18px;
                margin-top: 10px;


                &:hover {
                    cursor: pointer;
                    background-color: #3983bf;

                }
            }
        }
    }
}

#delete-modal {

    h2 {
        text-align: center;
        padding-bottom: 30px;
    }
    .content {
        text-align: center;
        font-size: 18px;
        margin-bottom: 20px;

    }
    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        button {
            border: none;
            cursor: pointer;
            display: inline-block;
            padding: 10px;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: .2s linear all;
        }


        .bkq {
            margin: 3px;
            background-color: #ffc107;

            &:hover {
                background-color: #c79602;
            }
        }

        .delete {
            margin: 3px;
            background-color: #dc3545;


            &:hover {
                background-color: #cc0e21;
            }
        }
    }
}