.ortu-button {
    color: crimson;
    border-radius: 5px;
    border: 1px solid crimson;
    padding: 10px 15px;
    font-size: 15px;
    transition: all .2s ease-in-out;

    &:hover {
        cursor: pointer;
        color: white;
        background-color: crimson;
    }

    &:active {
        background-color: #ae0728;
    }
}